.asset-list {
    list-style-type: none;
}

.asset-title {
    color: blue;
    font-weight: 800;
}

.sortable {
    cursor: pointer;
}

.sort-direction {
    color: blue;
}

.asset-change {
    font-size: 13px;
}

.increase {
    color: green;
}

.increase:before {
    content: '+';
}

.decrease {
    color: red;
}

.decrease:before {
    content: '-';
}